<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >About Component</a
      >
    </li>
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home Component</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>


<ul [ngSwitch]="loginName">
  <li *ngSwitchCase="'user'">
    <p>User loggin</p>
  </li>
  <li *ngSwitchCase="'admin'">
    <p>Admin loggin</p>
  </li>
  <li *ngSwitchDefault>
    <p>Please chooose login name</p>
  </li>
</ul>

<!-- <video controls>
  <source
    src="https://res.cloudinary.com/demo/video/upload/c_fill,g_auto:faces,h_450,w_450/r_20/v1/docs/walking_talking.webm"
    type="video/webm"
  />
</video> -->
<!-- 
<youtube-player [videoId]="id" (ready)="savePlayer($event)"></youtube-player>
<button (click)="playVideo()">Play Video</button>
<button (click)="pauseVideo()">Pause Video</button>
<br /> -->

<video src="../assets/cartoon.mp4" #myVideo></video>
<button (click)="play()">Play Cartoon</button>
<button (click)="pause()">Pause Cartoon</button>

<ng-template #tpl>
  <span>I am span in template</span>
</ng-template>

<app-author-list></app-author-list>

<app-page-not-found [item]="currentItem"></app-page-not-found>
